.container {
  margin: 20px auto;
  padding: 20px;
  color: black;
}
.wrapper {
  background-image: url("day_2.jpeg");
  background-size: cover;

  background-repeat: no-repeat;
  padding: 20px;
  border: 1px solid grey;
}
form {
  text-align: center;
  padding-bottom: 30px;
}
input {
  padding-left: 30px;
  line-height: 30px;
  border-radius: 10px;
  color: rgb(6, 18, 41);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  margin-right: 0;
}
.search {
  line-height: 30px;
  border-radius: 10px;
  color: rgb(6, 18, 41);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}
h1 {
  text-transform: capitalize;
}

ul {
  text-align: center;
  list-style: none;
}
.day {
  text-align: end;
}
.temp {
  text-align: end;
  padding: 10px;
  font-size: larger;
}
.time {
  text-align: left;
}
.img1 {
  position: relative;
  max-width: 120px;
  max-height: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}
.sub1 {
  text-align: center;
  padding-left: 15px;
  position: relative;
  top: -20px;
  right: -13px;
  text-transform: capitalize;
}
.temp strong {
  font-weight: bold;
  font-size: 48px;
}
.temp small {
  position: relative;
  font-size: 16px;
  top: -24px;
  text-decoration: none;
}
.data {
  text-align: center;
}
.i .col {
  font-size: 20px;
  color: black;
  text-align: center;
}
.temp a {
  color: black;
}
.temp a:link {
  text-decoration: none;
}
/*a:active {
  color: purple !important;
  text-decoration: none;
}
a:focus {
  color: purple !important;
  text-decoration: none;
}*/
